$background: #FFF;
$border: #909090;
$error: #F24E33;
$overlay: #ADB2B5;
$border-light: #C9C6C6;
$login-accent: #1DE278;
$login-title: #727272;
$login-text: #A5A1A1;
$header-shadow: rgba(#C9C9C9, 0.16);
$header-shadow--dark: rgba(#000, 0.16);
$header-text: #7E7E7E;
$current-active: #95A3AD;
$current-inactive: #CDDBE5;
$current-spot: #6991B2;
$current-line: #EBF7FF;
$step-text: #848C93;
$step-border: #E6E6E6;
$next-step: #6F91AA;
$door: #5A5858;
$organisation: #77779D;
$dimention: $next-step;
$dimention-inactive: #D8D8D8;
$door-select: $dimention-inactive;


$transition-time: 0.3s;